/**
* ALL APPLICATION ..Css to use in all the Application.
* SIDEBAR ..........Css of the Side Bar.
* VIDEO ............Css of the video component.
* PRODUCT ..........Css of the product component.
* AUTH .............Css of the auth component.
* HOME..........Css of the home component.
* 404 ..............Css of the 404 component.
* LOADER ...........Css of the loader.
* KEYFRAMES ........Section of the Keyframes.
* MEDIA ............Section of the Media Querys.
*/

/*------------------------------------*\
    ALL APPLICATION
\*------------------------------------*/

html, body, #root, #root > div {
    height: 100%;
}
/* Height of the container occupy as much as possible */
.fullHeight {
    height: calc(100% - 45px);
}
/* Default cursor */
.c-initial {
    cursor: initial;
}
/* Make cursor pointer */
.c-pointer {
    cursor: pointer;
}
/* Height occupy the fit content */
.fit-content {
    height: fit-content;
}
/* No resize */
.nresize {
    resize: none;
}
/* Overflow Scroll */
.overflow-y-scroll {
    overflow-y: scroll;
}
/* Width occupy the fit content */
.wfit-content {
    width: fit-content;
}
/* Icon style */
.icon {
    font-size: 20px;
}
/* Style of number of the items */
.number-items {
    background-color: #ff5959;
    color: #fff;
    display: block;
    position: absolute;
    right: 36px;
    top: 5px;
    height: 16px;
    line-height: 16px;
    width: 16px;
    text-align: center;
    border-radius: 50%;
    font-size: 13px;
}
/* Style of stream circle */
.stream-circle {
    background-color: #ff0000;
    display: block;
    position: absolute;
    right: 108px;
    top: 4px;
    height: 9px;
    width: 9px;
    border-radius: 50%;
}
/* Section that replace sidebar when is in absolute */
.section-sidebar {
    display: none;
}
.normalSideBar::-webkit-scrollbar { 
    display: none;
    scrollbar-width: none
}
.smallSideBar::-webkit-scrollbar {
    display: none;
}

/*------------------------------------*\
    SIDEBAR
\*------------------------------------*/

/* Contendor of the sidebar*/
.sidebar {
    width: 15%;
    max-height: 100%;
    overflow-y: scroll;
}
/* Width when expanding the sidebar */
.normalSideBar {
    min-width: 253px;
    max-width: 253px;
    scrollbar-width: none;
}
/* Width when contracting the sidebar */
.smallSideBar {
    min-width: 50px;
    max-width: 50px;
    scrollbar-width: none;
}
/* Font size of the font of font-awesome */
.changeSideBar {
    font-size: 20px;
}
/* Image of product in the sidebar */
.sidebarImg {
    width: 30px;
    height: 30px;
}
.dropd > a {
    width: 85%;
}
.dropd i:hover {
    border-bottom: 2px black solid !important;
}
.dropd-menu {
    display: none;
    position: absolute !important;
    top: 100% !important;
    right: 0 !important;
    border-radius: 10px 10px 0px 0px; 
    border-bottom: black 3px solid;
}
.dropd:hover .dropd-menu {
    display: block;
}


/*------------------------------------*\
    VIDEO
\*------------------------------------*/

/* Container of the component React Player */
.video-displayer {
    width: 70%;
    max-height: 94%;
}
/* Div of the component React Player */
.video-displayer > div {
    width: auto !important;
    height: auto !important;
}
.video-displayer div > div {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-displayer div div > video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.video-displayer div div > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* Container of the component Messages */
.video-chat {
    width: 30%;
}
/* Image of the component Messages */
.chatImage {
    width: 20%;
}

/*------------------------------------*\
    PRODUCT
\*------------------------------------*/
/* Container of the componente Products*/
.product {
   width: 27%; 
   margin-left: 3%;
   margin-right : 3%;
}
/* Container of the componente Products Hover */
.product:hover {
    border: solid 1px gray;
}
/* Button of the componente Products Hover */
.product:hover button {
    visibility: visible !important;
}
/* */
.product-cart-image {
    width: 15%;
}

/*------------------------------------*\
    AUTH
\*------------------------------------*/

/* Container of the componente Auth */
.container-auth {
    background-image: url("../assets/auth-back.jpg");
    background-position: center;
    background-size: cover;
}

/*------------------------------------*\
    HOME
\*------------------------------------*/
.slide {
    height: 75% !important;
}
.carousel-inner {
    height: 100% !important;
} 
.carousel-item {
    height: 100%;
}
.all-slides {
    background-position-x: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.slide-1 {
    background-image: url("../assets/slide-1.jpg");
}
.slide-2 {
    background-image: url("../assets/slide-2.jpg");
}
.slide-3 {
    background-image: url("../assets/slide-3.jpg");
}
.container-image-home {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 2%;
}
.image-home {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 200px;
    border: 1px solid white;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    cursor: pointer;
}
.image-home-1 {
    width: 35%;
    background-image: url("../assets/image-home-1.jpg");
}
.image-home-2 {
    width: 20%;
    background-image: url("../assets/image-home-2.jpg");
}
.image-home-3 {
    background-image: url("../assets/image-home-3.jpg");
    width: 45%;
}
.image-home-4 {
    background-image: url("../assets/image-home-4.jpg");
    width: 50%;
}
.image-home-5 {
    background-image: url("../assets/image-home-5.jpg");
    width: 50%;
}
.image-home-6 {
    background-image: url("../assets/image-home-6.jpg");
    width: 100%;
}

/*------------------------------------*\
    404
\*------------------------------------*/

/* Container of the componente 404 */
.not-found {
    background-image: url("../assets/404.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/*------------------------------------*\
    LOADER
\*------------------------------------*/

.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #007FF6 transparent #007FF6 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

.loader-spinner {
    width: 75px;
    height: 75px;
    margin: 100px auto;
    background-color: #333;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }

/*------------------------------------*\
    KEYFRAMES
\*------------------------------------*/

/* Css Loader */
@keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

@keyframes sk-scaleout {
  0% { 
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

/*------------------------------------*\
    MEDIA
\*------------------------------------*/

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
    .product-checkout-image {
        width: 53px;
        margin-left: 0.5rem !important;
        margin-right: 0.5rem !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
    .normalSideBar {
        min-width: 253px;
        max-width: 253px;
        position: absolute;
        background-color: white;
        height: calc(100% - 45px);
        z-index: 20;
    }
    .smallSideBar {
        min-width: 50px;
    }
    .section-sidebar {
        display: initial;
    }
    .video-displayer {
        width: 65%;
    }
    .video-chat {
        width: 35%;
    }
    .authForm {
        width: 65% !important;
    }
    .container-list-cart {
        flex-direction: column;
        align-items: center;
    }
    .slide {
        height: 60% !important;
    }
    .image-home-1 {
        width: 70%;
    }
    .image-home-2 {
        width: 30%;
    }
    .image-home-4 {
        width: 55%;
    }
    .image-home-5 {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .content-video {
        flex-wrap: wrap;
    }
    .video-displayer {
        width: 100%;
    }
    .video-chat {
        width: 100%;
        margin: 1em;
    }
    .messages {
        padding-bottom: 3rem !important;
    }
    .authForm {
        width: 75% !important;
    }
    .container-cart {
        padding: 2rem !important;
    }
    .product-cart-data {
        width: 70% !important;
    }
    .summary-cart {
        width: 70% !important;
    }
    .personal-data {
        flex-direction: column;
    }
    .payment {
        flex-direction: column;
    }
    .payment-content {
        width: 100% !important;
    }
    .product {
        width: 44%;
    }
    .messagesHeight {
        min-height: 225px;
    }
    .invisible {
        visibility: visible !important;
    }
    .slide {
        height: 50% !important;
    }
    .image-home-1, .image-home-2, .image-home-3, .image-home-4 {
        width: 50%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .video-displayer {
        width: 100%;
    }
    .video-chat {
        width: 100%;
    }
    .authForm {
        width: 91% !important;
        margin: 1rem !important;
    }
    .container-cart {
        padding: 1rem !important;
    }
    .product-cart {
        width: 100%;
    }
    .product-cart-image {
        width: 70px;
    }
    .product-cart-data {
        flex-direction: column;
        align-items: center;
    }
    .summary-cart {
        width: 100% !important;
    }
    .product-checkout-image {
        width: 45px;
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }
    .product-checkout-list {
        font-size: 80%;
    }
    .catalog-products {
        justify-content: center;
    }
    .product {
        width: 55%;
    }
    .slide {
        height: 35% !important;
    }
    .image-home-1, .image-home-2, .image-home-3, .image-home-4 {
        width: 100%;
    }
}